.mainBackground {
    background: url(../Images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.contentStuff {
    background-color:rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-top: 10%;
    width: 85%;
    height: auto;
    border-radius: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    max-width: 1200px;
}

.profile-photo {
    
  display: block;
  max-width: 10em;
  margin: 4em auto 1em;
  border-radius: 100%;
}

#wrapper {
    width: 90%;
    height: 80%;
    margin: auto;    
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

#mainHeading {
    text-align: center;
    font-size: 5em;
    color: #EE953C;
    font-family: 'Lato', sans-serif;
}

.fa {
    padding: 0;
}

.aboutLocation {
    width:600px;
    max-width:100%;
    overflow:hidden;
    height:300px;
    margin: auto;
}

#socialAbout {
    text-align: center;
}

#socialIcon {
    padding: 2em;
    color: #7f7f7f;
}

#socialIcon:hover {
    color: #EE953C;
}

#heading {
    float: left;
    margin-left: -5%;
    margin-top: -2em;
    background-color:  #EE953C; 
    border-radius: 3em;
    color: white;
}

#topHeading {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    padding-left: 1.2em;
    padding-right: 1em;
}

#video {
    margin: 0 auto;
}

.header.scrolling {
    background-color: rgba(64, 64, 64, 0.99);
    color: white;
}